:root {
  --primary-color: #23b2bd;
  --primary-font: #359b91;
  --secondary-color: #be4a4a;
  --text-color: #23bd9e;
  --pink-color: ;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 100;
  src: url("../font/NotoSansTC-Thin.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 300;
  src: url("../font/NotoSansTC-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansTC-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSansTC-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSansTC-Bold.otf") format("opentype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}